<div class="heading mt-[7px]">
  <div class="border-b-[1px] border-[#e4dfdf]">
    <div class="pl-[30px] pb-[21px]">
      <h1>{{ title() }}</h1>
    </div>
    <div>
      <nav class="w-full rounded">
        <ol class="flex list-reset">
          <li></li>
          <li>
            <span class="mx-2">/</span>
          </li>
          <li>
            <a href="#" class="text-gray-400 hover:text-blue-600">
              Novi autor
            </a>
          </li>
        </ol>
      </nav>
    </div>
  </div>
</div>
