<div class="border-b-[1px] border-[#e4dfdf]">
  <div class="ml-[30px] mr-[70px] mt-[20px] flex flex-row justify-between">
    <div class="text-gray-500">
      <p>Na raspolaganju:</p>
      <p class="mt-[20px]">Rezervisano:</p>
      <p class="mt-[20px]">Izdato:</p>
      <p class="mt-[20px]">U prekoracenju:</p>
      <p class="mt-[20px]">Ukupna kolicina:</p>
    </div>
    <div class="text-center pb-[30px]">
      <p
        class="bg-green-200 text-green-700 rounded-[10px] px-[6px] py-[2px] text-[14px]"
      >
        {{ book.samples - book.bSamples - book.rSamples }}
      </p>
      <a hrouterLink="/records/reservations-active"
        ><p
          class="mt-[16px] bg-yellow-200 text-yellow-700 rounded-[10px] px-[6px] py-[2px] text-[14px]"
        >
          {{ book.rSamples }}
        </p></a
      >
      <a routerLink="/records/borrowed"
        ><p
          class="mt-[16px] bg-blue-200 text-blue-800 rounded-[10px] px-[6px] py-[2px] text-[14px]"
        >
          {{ book.bSamples }}
        </p></a
      >
      <a hrouterLink="/records/overdrafted">
        <p
          class="mt-[16px] bg-red-200 text-red-800 rounded-[10px] px-[6px] py-[2px] text-[14px]"
        >
          {{ book.fSamples }}
        </p></a
      >
      <p
        class="mt-[16px] border-[1px] border-green-700 text-green-700 rounded-[10px] px-[6px] py-[2px] text-[14px]"
      >
        {{ book.samples }}
      </p>
    </div>
  </div>
</div>
