<section class="w-screen h-screen pl-[80px] py-4 text-gray-700">
  <!-- Heading of content -->
  <app-page-header title="Knjige"></app-page-header>

  <!-- Space for content -->
  <div class="scroll height-evidencija">
    <!-- Space for content -->
    <div class="px-[30px] pt-2 bg-white">
      <div class="w-full mt-2">
        <div
          class="flex items-center px-[30px] py-4 space-x-3 rounded-lg justify-between"
        >
          <a
            routerLink="new"
            class="btn-animation inline-flex items-center text-sm py-2.5 px-5 transition duration-300 ease-in rounded-[5px] tracking-wider text-white bg-[#3f51b5] rounded hover:bg-[#4558BE]"
          >
            <i class="fas fa-plus mr-[15px]"></i> Nova Knjiga
          </a>
        </div>
        <!-- Table -->
        @if (!isLoading) {
          <table
            class="w-full overflow-hidden shadow-lg rounded-xl"
            id="myTable"
          >
            <thead class="bg-[#EFF3F6]">
              <tr class="border-b-[1px] border-[#e4dfdf]">
                <th
                  class="px-4 py-4 leading-4 tracking-wider text-left text-blue-500"
                ></th>
                <th
                  class="flex items-center px-4 py-4 leading-4 tracking-wider text-left"
                >
                  Naziv knjige
                </th>

                <!-- Autor + dropdown filter for autor -->
                <th
                  id="autoriMenu"
                  class="relative px-4 py-4 text-sm leading-4 tracking-wider text-left cursor-pointer"
                >
                  Autor
                </th>

                <!-- Kategorija + dropdown filter for kategorija -->
                <th
                  id="kategorijeMenu"
                  class="relative px-4 py-4 text-sm leading-4 tracking-wider text-left"
                >
                  Kategorija
                </th>
                <th
                  class="px-4 py-4 text-sm leading-4 tracking-wider text-left"
                >
                  Na raspolaganju
                </th>
                <th
                  class="px-4 py-4 text-sm leading-4 tracking-wider text-left"
                >
                  Rezervisano
                </th>
                <th
                  class="px-4 py-4 text-sm leading-4 tracking-wider text-left"
                >
                  Izdato
                </th>
                <th
                  class="px-4 py-4 text-sm leading-4 tracking-wider text-left"
                >
                  U prekoračenju
                </th>
                <th
                  class="px-4 py-4 text-sm leading-4 tracking-wider text-left"
                >
                  Ukupna količina
                </th>
                <th class="px-4 py-4"></th>
              </tr>
            </thead>
            <!-- Table head-->

            <tbody class="bg-white">
              @for (book of books; track book.id) {
                <tr
                  class="hover:bg-gray-200 hover:shadow-md border-b-[1px] border-[#e4dfdf]"
                >
                  <td class="px-4 py-4 whitespace-no-wrap">
                    <label class="inline-flex items-center">
                      <input
                        type="checkbox"
                        class="form-checkbox checkOthers"
                      />
                    </label>
                  </td>
                  <td class="flex flex-row items-center px-4 py-4">
                    <img
                      class="object-cover w-8 mr-2 h-11"
                      [src]="book.photo"
                      alt=""
                    />
                    <a [routerLink]="[book.id]">
                      <span class="font-medium text-center">{{
                        book.title
                      }}</span>
                    </a>
                  </td>
                  @if (book.authors.length > 0) {
                    <td class="px-4 py-4 text-sm leading-5 whitespace-no-wrap">
                      {{ book.authors[0].name }} {{ book.authors[0].surname }}
                    </td>
                  }
                  @if (book.categories.length > 0) {
                    <td class="px-4 py-4 text-sm leading-5 whitespace-no-wrap">
                      {{ book.categories[0].name }}
                    </td>
                  }
                  <td class="px-4 py-4 text-sm leading-5 whitespace-no-wrap">
                    {{ [book.samples - book.bSamples - book.rSamples] }}
                  </td>
                  <td
                    class="px-4 py-4 text-sm leading-5 text-blue-800 whitespace-no-wrap"
                  >
                    <a routerLink="/records/reservations-active">{{
                      book.rSamples
                    }}</a>
                  </td>
                  <td
                    class="px-4 py-4 text-sm leading-5 text-blue-800 whitespace-no-wrap"
                  >
                    <a routerLink="/records/borrowed">{{ book.bSamples }}</a>
                  </td>
                  <td
                    class="px-4 py-4 text-sm leading-5 text-blue-800 whitespace-no-wrap"
                  >
                    <a routerLink="/records/overdrafted">{{ book.fSamples }}</a>
                  </td>
                  <td class="px-4 py-4 text-sm leading-5 whitespace-no-wrap">
                    {{ book.samples }}
                  </td>
                  <td
                    class="px-6 py-4 text-sm leading-5 text-right whitespace-no-wrap"
                  >
                    <p
                      class="inline cursor-pointer text-[20px] py-[10px] px-[30px] border-gray-300 dotsKnjige hover:text-[#606FC7]"
                      (click)="toggleMenu(book.id)"
                    >
                      <i class="fas fa-ellipsis-v"></i>
                    </p>
                    <div
                      [ngClass]="{ hidden: openMenuId !== book.id }"
                      class="relative z-10 transition-all duration-300 origin-top-right transform scale-95 -translate-y-2 dropdown-knjige"
                    >
                      <div
                        class="absolute right-0 w-56 mt-2 origin-top-right bg-white border border-gray-200 divide-y divide-gray-100 rounded-md shadow-lg outline-none"
                        aria-labelledby="headlessui-menu-button-1"
                        id="headlessui-menu-items-117"
                        role="menu"
                      >
                        <div class="py-1">
                          <a
                            [routerLink]="[book.id]"
                            tabindex="0"
                            class="flex w-full px-4 py-2 text-sm leading-5 text-left text-gray-700 outline-none hover:text-blue-600"
                            role="menuitem"
                          >
                            <i class="far fa-file mr-[10px] ml-[5px] py-1"></i>
                            <span class="px-4 py-0">Pogledaj detalje</span>
                          </a>

                          <a
                            [routerLink]="['edit', book.id]"
                            tabindex="0"
                            class="flex w-full px-4 py-2 text-sm leading-5 text-left text-gray-700 outline-none hover:text-blue-600"
                            role="menuitem"
                          >
                            <i class="fas fa-edit mr-[6px] ml-[5px] py-1"></i>
                            <span class="px-4 py-0">Izmijeni knjigu</span>
                          </a>

                          <a
                            [routerLink]="['discard', book.id]"
                            tabindex="0"
                            class="flex w-full px-4 py-2 text-sm leading-5 text-left text-gray-700 outline-none hover:text-blue-600"
                            role="menuitem"
                          >
                            <i
                              class="fas fa-level-up-alt mr-[14px] ml-[5px] py-1"
                            ></i>
                            <span class="px-4 py-0">Otpiši knjigu</span>
                          </a>

                          <a
                            [routerLink]="['borrow', book.id]"
                            tabindex="0"
                            class="flex w-full px-4 py-2 text-sm leading-5 text-left text-gray-700 outline-none hover:text-blue-600"
                            role="menuitem"
                          >
                            <i
                              class="far fa-hand-scissors mr-[10px] ml-[5px] py-1"
                            ></i>
                            <span class="px-4 py-0">Izdaj knjigu</span>
                          </a>

                          <a
                            [routerLink]="['return', book.id]"
                            tabindex="0"
                            class="flex w-full px-4 py-2 text-sm leading-5 text-left text-gray-700 outline-none hover:text-blue-600"
                            role="menuitem"
                          >
                            <i
                              class="fas fa-redo-alt mr-[10px] ml-[5px] py-1"
                            ></i>
                            <span class="px-4 py-0">Vrati knjigu</span>
                          </a>

                          <a
                            [routerLink]="['reserve', book.id]"
                            tabindex="0"
                            class="flex w-full px-4 py-2 text-sm leading-5 text-left text-gray-700 outline-none hover:text-blue-600"
                            role="menuitem"
                          >
                            <i
                              class="far fa-calendar-check mr-[10px] ml-[5px] py-1"
                            ></i>
                            <span class="px-4 py-0">Rezerviši knjigu</span>
                          </a>

                          <button
                            (click)="deleteBook(book.id)"
                            tabindex="0"
                            class="flex w-full px-4 py-2 text-sm leading-5 text-left text-gray-700 outline-none hover:text-blue-600"
                            role="menuitem"
                          >
                            <i class="fa fa-trash mr-[10px] ml-[5px] py-1"></i>
                            <span class="px-4 py-0">Izbriši knjigu</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        } @else {
          <h1 class="flex justify-center text-center">Učitavanje...</h1>
        }
      </div>
    </div>
  </div>
</section>
