<section class="h-screen w-screen pl-[80px] pb-2 text-gray-700">
  <!-- Header section - outside of tabs -->
  <div class="heading">
    <div class="flex border-b-[1px] border-[#e4dfdf]">
      <div class="pl-[30px] py-[10px] flex flex-col">
        <div>
          <h1>Edit</h1>
        </div>
        <div>
          <nav class="w-full rounded">
            <ol class="flex list-reset">
              <a routerLink="/books" class="text-[#2196f3] hover:text-blue-600"
                >Sve Knjige</a
              >

              <li><span class="mx-2">/</span></li>
              <li>
                <a href="#" class="text-gray-400 hover:text-blue-600">Edit</a>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
    <mat-tab-group>
      <mat-tab label="Overview">
        <div class="tab-content" id="nav-tabContent">
          <div class="scroll height-content section-content">
            <div class="flex flex-row ml-[30px] mb-[150px]">
              <div class="w-[50%]">
                <div class="mt-[20px]">
                  <mat-form-field class="w-[90%]">
                    <mat-label>Naslov</mat-label>
                    <input matInput formControlName="nazivKnjiga" required />
                    <mat-error
                      *ngIf="
                        nazivKnjiga?.hasError('required') &&
                        nazivKnjiga?.touched
                      "
                    >
                      Naslov knjige je obavezan
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="mt-[20px]">
                  <mat-form-field class="w-[90%]">
                    <mat-label>Opis</mat-label>
                    <textarea
                      matInput
                      formControlName="kratki_sadrzaj"
                    ></textarea>
                    <mat-error
                      *ngIf="
                        kratki_sadrzaj?.hasError('required') &&
                        kratki_sadrzaj?.touched
                      "
                    >
                      Opis je obavezan
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="mt-[20px]">
                  <mat-form-field class="w-[90%]">
                    <mat-label>Kategorije</mat-label>
                    <mat-select formControlName="categories" multiple required>
                      <mat-option
                        *ngFor="let category of allCategories"
                        [value]="category.id"
                      >
                        {{ category.name }}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="
                        categories.hasError('required') && categories?.touched
                      "
                    >
                      Makar jedna kategorija je obavezna
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="mt-[20px]">
                  <mat-form-field class="w-[90%]">
                    <mat-label>Žanrovi</mat-label>
                    <mat-select formControlName="genres" multiple required>
                      <mat-option
                        *ngFor="let genre of allGenres"
                        [value]="genre.id"
                      >
                        {{ genre.name }}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="genres.hasError('required') && genres?.touched"
                    >
                      At least one genre is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div *ngIf="errorMessage" class="mt-[10px] text-red-600">
                  <p class="text-xl">{{ errorMessage }}</p>
                </div>
              </div>

              <div class="w-[50%]">
                <div class="mt-[20px]">
                  <mat-form-field class="w-[90%]">
                    <mat-label>Autori</mat-label>
                    <mat-select formControlName="authors" multiple required>
                      <mat-option
                        *ngFor="let author of allAuthors"
                        [value]="author.id"
                      >
                        {{ author.name }} {{ author.surname }}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="authors.hasError('required') && authors?.touched"
                    >
                      Makar jedan autor je obavezan
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="mt-[20px]">
                  <mat-form-field class="w-[90%]">
                    <mat-label>Izdavač</mat-label>
                    <mat-select formControlName="izdavac" required>
                      <mat-option
                        *ngFor="let publisher of allPublishers"
                        [value]="publisher.id"
                      >
                        {{ publisher.name }}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="izdavac.hasError('required') && izdavac.touched"
                    >
                      Izdavač je obavezan
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="mt-[20px]">
                  <mat-form-field class="w-[90%]">
                    <mat-label>Jezik</mat-label>
                    <mat-select formControlName="jezik" required>
                      <mat-option
                        *ngFor="let language of allLanguages"
                        [value]="language.id"
                      >
                        {{ language.name }}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="jezik.hasError('required') && jezik?.touched"
                    >
                      Jezik je obavezan
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="mt-[20px]">
                  <mat-form-field class="w-[90%]">
                    <mat-label>Godina Izdavanja</mat-label>
                    <mat-select formControlName="godinaIzdavanja" required>
                      <mat-option
                        *ngFor="let year of yearRange(50)"
                        [value]="year"
                      >
                        {{ year }}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="
                        godinaIzdavanja.hasError('required') &&
                        godinaIzdavanja?.touched
                      "
                    >
                      Godina izdavanja je obavezna
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="mt-[20px]">
                  <mat-form-field class="w-[45%]">
                    <mat-label>Količina</mat-label>
                    <input
                      matInput
                      type="text"
                      formControlName="knjigaKolicina"
                      min="0"
                      required
                    />
                    <mat-error
                      *ngIf="
                        knjigaKolicina.hasError('required') &&
                        knjigaKolicina?.touched
                      "
                    >
                      Količina je obavezna
                    </mat-error>
                    <mat-error
                      *ngIf="
                        knjigaKolicina.hasError('min') && knjigaKolicina.touched
                      "
                    >
                      Količina ne smije biti 0
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Specifications">
        <div class="scroll height-content section-content">
          <div class="flex flex-row ml-[30px]">
            <div class="w-[50%] mb-[150px]">
              <div class="mt-[20px]">
                <mat-form-field class="w-[45%]">
                  <mat-label>Broj Strana</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="brStrana"
                    min="0"
                    required
                  />
                  <mat-error
                    *ngIf="brStrana.hasError('required') && brStrana.touched"
                  >
                    Broj strana je obavezan
                  </mat-error>
                  <mat-error
                    *ngIf="brStrana.hasError('min') && brStrana?.touched"
                  >
                    Broj strana mora biti veći od 1
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="mt-[20px]">
                <mat-form-field class="w-[90%]">
                  <mat-label>Pismo</mat-label>
                  <mat-select formControlName="pismo" required>
                    <mat-option
                      *ngFor="let script of allScripts"
                      [value]="script.id"
                    >
                      {{ script.name }}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="pismo.hasError('required') && pismo?.touched"
                  >
                    Pismo je obavezno
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="mt-[20px]">
                <mat-form-field class="w-[90%]">
                  <mat-label>Povez</mat-label>
                  <mat-select formControlName="povez" required>
                    <mat-option
                      *ngFor="let bookbind of allBookbinds"
                      [value]="bookbind.id"
                    >
                      {{ bookbind.name }}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="povez.hasError('required') && povez?.touched"
                  >
                    Povez je obavezan
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="mt-[20px]">
                <mat-form-field class="w-[90%]">
                  <mat-label>Format</mat-label>
                  <mat-select formControlName="format" required>
                    <mat-option
                      *ngFor="let format of allFormats"
                      [value]="format.id"
                    >
                      {{ format.name }}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="format?.hasError('required') && format?.touched"
                  >
                    Format je obavezan
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="mt-[20px]">
                <mat-form-field class="w-[90%]">
                  <mat-label>ISBN</mat-label>
                  <input matInput formControlName="isbn" required />
                  <mat-error *ngIf="isbn.hasError('required') && isbn?.touched">
                    ISBN je obavezan
                  </mat-error>
                </mat-form-field>
              </div>
              <div *ngIf="errorMessage" class="mt-[10px] text-red-600">
                <p class="text-xl">{{ errorMessage }}</p>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>

    <div class="absolute bottom-0 w-full z-50">
      <div class="flex flex-row">
        <div
          class="inline-block w-full text-white text-right py-[7px] mr-[100px]"
        >
          <button
            (click)="onCancel()"
            type="button"
            class="btn-animation shadow-lg mr-[15px] w-[150px] focus:outline-none text-sm py-2.5 px-5 transition duration-300 ease-in bg-[#F44336] hover:bg-[#F55549] rounded-[5px]"
          >
            Cancel <i class="fas fa-times ml-[4px]"></i>
          </button>

          <button
            id="sacuvajKnjigu"
            type="submit"
            class="btn-animation shadow-lg w-[150px] disabled:opacity-50 focus:outline-none text-sm py-2.5 px-5 transition duration-300 ease-in rounded-[5px] hover:bg-[#46A149] bg-[#4CAF50] cursor-pointer"
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </form>
</section>
