<section class="w-screen h-screen pl-[80px] pb-4 text-gray-700">
  <!-- Heading of content -->
  <div class="heading">
    <div class="flex border-b-[1px] border-[#e4dfdf]">
      <div class="pl-[30px] py-[10px] flex flex-col">
        <div>
          <h1 class="">Edit</h1>
        </div>
        <div>
          <nav class="w-full rounded">
            <ol class="flex list-reset">
              <li>
                <a
                  routerLink="/authors"
                  class="text-[#2196f3] hover:text-blue-600"
                >
                  All Authors
                </a>
              </li>
              <li>
                <span class="mx-2">/</span>
              </li>
              <li>
                <p class="text-gray-400">Edit</p>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- Space for content -->
  <div class="scroll height-content section-content">
    <form
      class="text-gray-700 text-[14px] forma"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
    >
      <div class="flex flex-row ml-[30px]">
        <div class="w-[50%] mb-[100px]">
          <div class="mt-[20px]">
            <span> Name <span class="text-red-500">*</span></span>
            <input
              type="text"
              id="full_name"
              formControlName="name"
              class="flex w-[90%] mt-2 px-2 py-2 text-base bg-white border border-gray-300 shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-[#576cdf]"
            />
            <div
              *ngIf="
                form.get('name')?.invalid &&
                (form.get('name')?.dirty || form.get('fullName')?.touched)
              "
            >
              <small class="text-red-500">Full name is required</small>
            </div>
          </div>
          <div class="mt-[20px]">
            <span>Surname <span class="text-red-500">*</span></span>
            <input
              type="text"
              id="full_name"
              formControlName="surname"
              class="flex w-[90%] mt-2 px-2 py-2 text-base bg-white border border-gray-300 shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-[#576cdf]"
            />
            <div
              *ngIf="
                form.get('surname')?.invalid &&
                (form.get('surname')?.dirty || form.get('surname')?.touched)
              "
            >
              <small class="text-red-500">Full name is required</small>
            </div>
          </div>

          <div class="mt-[20px]">
            <span>Biography <span class="text-red-500">*</span></span>
            <ckeditor
              [editor]="Editor"
              formControlName="biography"
              class="flex w-[90%] mt-2"
            ></ckeditor>
            <div
              *ngIf="
                form.get('biography')?.invalid &&
                (form.get('biography')?.dirty || form.get('biography')?.touched)
              "
            >
              <small class="text-red-500">Biography is required</small>
            </div>
          </div>

          <div *ngIf="errorMessage" class="mt-[10px] text-red-600">
            <p class="text-xl">{{ errorMessage }}</p>
          </div>
        </div>
      </div>

      <div class="absolute bottom-0 w-full">
        <div class="flex flex-row">
          <div
            class="inline-block w-full text-right py-[7px] mr-[100px] text-white"
          >
            <button
              (click)="onCancel()"
              type="button"
              class="btn-animation shadow-lg mr-[15px] w-[150px] focus:outline-none text-sm py-2.5 px-5 transition duration-300 ease-in bg-[#F44336] hover:bg-[#F55549] rounded-[5px]"
            >
              Cancel<i class="fas fa-times ml-[4px]"></i>
            </button>
            <button
              type="submit"
              class="btn-animation shadow-lg w-[150px] disabled:opacity-50 focus:outline-none text-sm py-2.5 px-5 transition duration-300 ease-in rounded-[5px] hover:bg-[#46A149] bg-[#4CAF50]"
            >
              Save <i class="fas fa-check ml-[4px]"></i>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
