<section class="w-screen h-screen pl-[80px] pb-4 text-gray-700">
  <!-- Heading of content -->
  <div class="heading">
    <div class="flex border-b-[1px] border-[#e4dfdf]">
      <div class="pl-[30px] py-[10px] flex flex-col">
        <div>
          <h1 class="">Edit</h1>
        </div>
        <div>
          <nav class="w-full rounded">
            <ol class="flex list-reset">
              <li>
                <a
                  routerLink="/librarians"
                  class="text-[#2196f3] hover:text-blue-600"
                >
                  All Librarians
                </a>
              </li>
              <li>
                <span class="mx-2">/</span>
              </li>
              <li>
                <a href="#" class="text-gray-400 hover:text-blue-600"> Edit </a>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- Space for content -->
  <div class="scroll height-content section-content">
    <form
      class="text-gray-700 text-[14px] forma"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
    >
      <div class="flex flex-row ml-[30px]">
        <div class="w-[50%] mb-[100px]">
          <div class="mt-[20px]">
            <span> Ime <span class="text-red-500">*</span></span>
            <input
              type="text"
              id="full_name"
              formControlName="name"
              class="flex w-[90%] mt-2 px-2 py-2 text-base bg-white border border-gray-300 shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-[#576cdf]"
            />
            <div *ngIf="name.invalid && (name.dirty || name.touched)">
              <small class="text-red-500">Ime je obacvezno</small>
            </div>
          </div>
          <div class="mt-[20px]">
            <span>Surname <span class="text-red-500">*</span></span>
            <input
              type="text"
              id="full_name"
              formControlName="surname"
              class="flex w-[90%] mt-2 px-2 py-2 text-base bg-white border border-gray-300 shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-[#576cdf]"
            />
            <div
              *ngIf="
                surname.invalid &&
                (form.get('surname')?.dirty || form.get('surname')?.touched)
              "
            >
              <small class="text-red-500">Prezime je obaveyn</small>
            </div>
          </div>

          <div class="mt-[20px]">
            <span>User Type</span>
            <select
              class="flex w-[90%] mt-2 px-2 py-2 border bg-gray-300 border-gray-300 shadow-sm focus:outline-none focus:ring-2 focus:ring-[#576cdf]"
              formControlName="role_id"
            >
              <option value="1">Bibliotekar</option>
            </select>
          </div>

          <div class="mt-[20px]">
            <span>JMBG <span class="text-red-500">*</span></span>
            <input
              type="text"
              id="jmbgUcenikEdit"
              formControlName="jmbg"
              class="flex w-[90%] mt-2 px-2 py-2 text-base bg-white border border-gray-300 shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-[#576cdf]"
            />
            <div *ngIf="jmbg?.invalid && (jmbg?.dirty || jmbg?.touched)">
              <small class="text-red-500">JMBG je obavezan</small>
            </div>
          </div>

          <div class="mt-[20px]">
            <span>E-mail <span class="text-red-500">*</span></span>
            <input
              type="email"
              id="emailUcenikEdit"
              formControlName="email"
              class="flex w-[90%] mt-2 px-2 py-2 text-base bg-white border border-gray-300 shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-[#576cdf]"
            />
            <div
              *ngIf="
                form.get('email')?.invalid &&
                (email.dirty || form.get('email')?.touched)
              "
            >
              <small class="text-red-500">Ispravan email je obavezan</small>
            </div>
          </div>

          <div class="mt-[20px]">
            <span> Korisničko ime <span class="text-red-500">*</span></span>
            <input
              type="text"
              id="usernameUcenikEdit"
              formControlName="username"
              class="flex w-[90%] mt-2 px-2 py-2 text-base bg-white border border-gray-300 shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-[#576cdf]"
            />
            <div
              *ngIf="username.invalid && (username?.dirty || username?.touched)"
            >
              <small class="text-red-500">Korisničko ime je obavezno</small>
            </div>
          </div>

          <div class="mt-[20px]">
            <span>Šifra <span class="text-red-500">*</span></span>
            <input
              type="password"
              id="pwUcenikEdit"
              formControlName="password"
              class="flex w-[90%] mt-2 px-2 py-2 text-base bg-white border border-gray-300 shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-[#576cdf]"
            />
            <div
              *ngIf="
                form.get('password')?.invalid &&
                (password.dirty || password?.touched)
              "
            >
              <small class="text-red-500">Šifra je obavezna</small>
            </div>
          </div>

          <div class="mt-[20px]">
            <span>Potvrdi šifru <span class="text-red-500">*</span></span>
            <input
              type="password"
              id="pw2UcenikEdit"
              formControlName="password_confirmation"
              class="flex w-[90%] mt-2 px-2 py-2 text-base bg-white border border-gray-300 shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-[#576cdf]"
            />
            <div
              *ngIf="
                password_confirmation.invalid &&
                (password_confirmation?.dirty || password_confirmation?.touched)
              "
            >
              <small class="text-red-500">Šifre se ne podudaraju</small>
            </div>
            <div *ngIf="errorMessage" class="mt-[10px] text-red-600">
              <p class="text-xl">{{ errorMessage }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="absolute bottom-0 w-full">
        <div class="flex flex-row">
          <div
            class="inline-block w-full text-right py-[7px] mr-[100px] text-white"
          >
            <button
              (click)="onCancel()"
              type="button"
              class="btn-animation shadow-lg mr-[15px] w-[150px] focus:outline-none text-sm py-2.5 px-5 transition duration-300 ease-in bg-[#F44336] hover:bg-[#F55549] rounded-[5px]"
            >
              Poništi<i class="fas fa-times ml-[4px]"></i>
            </button>
            <button
              type="submit"
              class="btn-animation shadow-lg w-[150px] disabled:opacity-50 focus:outline-none text-sm py-2.5 px-5 transition duration-300 ease-in rounded-[5px] hover:bg-[#46A149] bg-[#4CAF50]"
            >
              Sačuvaj <i class="fas fa-check ml-[4px]"></i>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
