<header
  id="siteHeader"
  class="z-20 small:hidden flex items-center text-white justify-between justify-content-around w-full h-[71px] pr-[30px] mx-auto bg-[#4558BE]"
>
  <!-- logo -->
  <div class="logo-font inline-flex py-[18px] px-[30px]">
    <a class="_o6689fn" routerLink="/">
      <div class="block">
        <div class="flex">
          <img
            src="assets/img/logo.svg"
            alt="Logo"
            width="35px"
            height="35px"
          />
          <p class="text-[20px] mt-[5px]">&nbsp;&nbsp;Online Biblioteka</p>
        </div>
      </div>
    </a>
  </div>

  <div
    id="searchWrapper"
    class="inline-flex"
    style="margin-right: auto; font-size: 20px"
  ></div>

  <div class="flex-initial">
    <div class="relative flex items-center justify-end">
      <div class="flex items-center font-5xl mr-20" style="z-index: 1111">
        <button (click)="logout()" class="font-medium font-5xl">Log Out</button>
      </div>
    </div>
  </div>
</header>
