<section class="w-screen h-screen pl-[80px] py-4 text-gray-700">
  <app-author-header></app-author-header>
  <div class="height-autori pb-[30px] scroll">
    <app-search-add-new></app-search-add-new>
    <div
      class="inline-block min-w-full px-[30px] pt-3 align-middle bg-white rounded-bl-lg rounded-br-lg shadow-dashboard"
    >
      <table
        class="overflow-hidden shadow-lg rounded-xl min-w-full border-[1px] border-[#e4dfdf]"
        id="myTable"
      >
        <app-table-head></app-table-head>
        <tbody class="bg-white">
          @for (author of authors; track author.id) {
          <app-author-row [author]="author"></app-author-row>
          }
        </tbody>
      </table>

      <app-pagination></app-pagination>
    </div>
  </div>
</section>
