<section class="w-screen h-screen pl-[80px] pb-2 text-gray-700">
  <!-- Heading of content -->
  <div class="heading">
    <div class="flex flex-row justify-between border-b-[1px] border-[#e4dfdf]">
      <div class="py-[10px] flex flex-row">
        <div class="w-[77px] pl-[30px]">
          <img [src]="book.photo" alt="" />
        </div>
        <div class="pl-[15px] flex flex-col">
          <div>
            <h1>{{ book.title }}</h1>
          </div>
          <div>
            <nav class="w-full rounded">
              <ol class="flex list-reset">
                <li>
                  <a
                    [routerLink]="['/books']"
                    class="text-[#2196f3] hover:text-blue-600"
                  >
                    Evidencija knjiga
                  </a>
                </li>
                <li>
                  <span class="mx-2">/</span>
                </li>
                <li>
                  <p class="text-[#2196f3]">KNJIGA {{ book.id }}</p>
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
      <div class="pt-[24px] mr-[30px]">
        <a
          [routerLink]="['/books/discard', book.id]"
          class="inline hover:text-blue-600"
        >
          <i class="fas fa-level-up-alt mr-[3px]"></i>
          Otpiši knjigu
        </a>
        <a
          [routerLink]="['/books/borrow', book.id]"
          class="inline hover:text-blue-600 ml-[20px] pr-[10px]"
        >
          <i class="far fa-hand-scissors mr-[3px]"></i>
          Izdaj knjigu
        </a>
        <a
          [routerLink]="['/books/return', book.id]"
          class="hover:text-blue-600 inline ml-[20px] pr-[10px]"
        >
          <i class="fas fa-redo-alt mr-[3px]"></i>
          Vrati knjigu
        </a>
        <a
          [routerLink]="['/books/reserve', book.id]"
          class="hover:text-blue-600 inline ml-[20px] pr-[10px]"
        >
          <i class="far fa-calendar-check mr-[3px]"></i>
          Rezerviši knjigu
        </a>
        <p
          class="inline cursor-pointer text-[25px] py-[10px] pl-[30px] border-l-[1px] border-[#e4dfdf] dotsKnjigaOsnovniDetalji hover:text-[#606FC7]"
          (click)="toggleMenu(book.id)"
        >
          <i class="fas fa-ellipsis-v"></i>
        </p>
        <div
          class="z-10 transition-all duration-300 origin-top-right transform scale-95 -translate-y-2 dropdown-knjiga-osnovni-detalji relative"
          [ngClass]="{ hidden: openMenuId !== book.id }"
        >
          <div
            class="absolute right-0 w-56 mt-[7px] origin-top-right bg-white border border-gray-200 divide-y divide-gray-100 rounded-md shadow-lg outline-none"
            aria-labelledby="headlessui-menu-button-1"
            id="headlessui-menu-items-117"
            role="menu"
          >
            <div class="py-1">
              <a
                [routerLink]="['/books/edit', book.id]"
                tabindex="0"
                class="flex w-full px-4 py-2 text-sm leading-5 text-left text-gray-700 outline-none hover:text-blue-600 z-50"
                role="menuitem"
              >
                <i class="fas fa-edit mr-[1px] ml-[5px] py-1"></i>
                <span class="px-4 py-0">Izmijeni knjigu</span>
              </a>
              <button
                (click)="deleteBook(book.id)"
                tabindex="0"
                class="flex w-full px-4 py-2 text-sm leading-5 text-left text-gray-700 outline-none hover:text-blue-600"
                role="menuitem"
              >
                <i class="fa fa-trash mr-[5px] ml-[5px] py-1"></i>
                <span class="px-4 py-0">Izbriši knjigu</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <mat-tab-group>
    <mat-tab label="Overview">
      <div class="flex flex-row overflow-auto height-osnovniDetalji">
        <div class="w-[80%]">
          <div class="">
            <!-- Space for content -->
            <div class="pl-[30px] section- mt-[20px]">
              <div class="flex flex-row justify-between">
                <div class="mr-[30px]">
                  <div class="mt-[20px]">
                    <span class="text-gray-500 text-[14px]">Naziv knjige</span>
                    <p class="font-medium">{{ book.title }}</p>
                  </div>
                  <div class="mt-[40px]">
                    <span class="text-gray-500 text-[14px]">Zanr</span>
                    @for (genre of book.genres; track genre.id) {
                      <p class="font-medium">
                        {{ genre.name }}
                      </p>
                    }
                  </div>
                  <div class="mt-[40px]">
                    <span class="text-gray-500 text-[14px]">Kategorija</span>
                    @for (category of book.categories; track category.id) {
                      <p class="font-medium">
                        {{ category.name }}
                      </p>
                    }
                  </div>

                  <div class="mt-[40px]">
                    <span class="text-gray-500 text-[14px]">Autor/ri</span>
                    @for (author of book.authors; track author.id) {
                      <p class="font-medium">
                        {{ author.name }} {{ author.surname }}
                      </p>
                    }
                  </div>

                  <div class="mt-[40px]">
                    <span class="text-gray-500 text-[14px]">Izdavac</span>
                    <p class="font-medium">{{ book.publisher.name }}</p>
                  </div>
                  <div class="mt-[40px]">
                    <span class="text-gray-500 text-[14px]"
                      >Godina izdavanja</span
                    >
                    <p class="font-medium">{{ book.pDate }}</p>
                  </div>
                </div>
                <div class="mr-[70px] mt-[20px] flex flex-col max-w-[600px]">
                  <div>
                    <h4 class="text-gray-500">Storyline (Kratki sadrzaj)</h4>
                    <p class="my-[10px]">{{ book.description }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <app-book-stats></app-book-stats>
      </div>
    </mat-tab>
    <mat-tab label="Specifications">
      <div class="flex flex-row overflow-auto height-osnovniDetalji">
        <div class="w-[80%]">
          <div class="">
            <!-- Space for content -->
            <div class="pl-[30px] section- mt-[20px]">
              <div class="flex flex-row justify-between">
                <div class="mr-[30px]">
                  <div class="mt-[20px]">
                    <span class="text-gray-500 text-[14px]">Broj strana</span>
                    <p class="font-medium">{{ book.pages }}</p>
                  </div>
                  <div class="mt-[40px]">
                    <span class="text-gray-500 text-[14px]">Pismo</span>
                    <p class="font-medium">{{ book.script.name }}</p>
                  </div>
                  <div class="mt-[40px]">
                    <span class="text-gray-500 text-[14px]">Jezik</span>
                    <p class="font-medium">{{ book.language.name }}</p>
                  </div>
                  <div class="mt-[40px]">
                    <span class="text-gray-500 text-[14px]">Povez</span>
                    <p class="font-medium">{{ book.bookbind.name }}</p>
                  </div>
                  <div class="mt-[40px]">
                    <span class="text-gray-500 text-[14px]">Format</span>
                    <p class="font-medium">{{ book.format.name }}</p>
                  </div>
                  <div class="mt-[40px]">
                    <span class="text-gray-500 text-[14px]"> ISBN</span>
                    <p class="font-medium">{{ book.isbn }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="min-w-[20%] border-l-[1px] border-[#e4dfdf]">
          <app-book-stats></app-book-stats>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Records">
      <mat-tab-group>
        <mat-tab label="Borrows">
          <section class="w-screen h-screen pl-[80px] py-4 text-gray-700">
            <!-- Heading of content -->

            <!-- Space for content -->
            <div class="scroll height-dashboard">
              <div>
                <!-- Space for content -->
                <div class="flex justify-start pt-3 bg-white">
                  <div class="w-full mt-[10px] mr-3 px-2">
                    @if (!isLoading) {
                      <table
                        class="overflow-hidden shadow-lg rounded-xl w-full border-[1px] border-[#e4dfdf]"
                        id="myTable"
                      >
                        <thead class="bg-[#EFF3F6]">
                          <tr class="border-b-[1px] border-[#e4dfdf]">
                            <th
                              class="px-4 py-4 leading-4 tracking-wider text-left text-blue-500"
                            ></th>
                            <th
                              class="px-4 py-4 leading-4 tracking-wider text-left"
                            >
                              Naziv knjige
                            </th>
                            <!-- Izdato uceniku + dropdown filter for ucenik -->
                            <th
                              class="relative px-4 py-4 text-sm leading-4 tracking-wider text-left uceniciDrop-toggle"
                            >
                              Izdato učeniku
                            </th>

                            <!-- Datum izdavanja + dropdown filter for datum -->
                            <th
                              class="relative px-4 py-4 text-sm leading-4 tracking-wider text-left datumDrop-toggle"
                            >
                              Datum izdavanja
                            </th>

                            <!-- Trenutno zadrzavanje + dropdown filter for zadrzavanje -->
                            <th
                              class="relative px-4 py-4 text-sm leading-4 tracking-wider text-left zadrzavanjeDrop-toggle"
                            >
                              Trenutno zadržavanje knjige
                            </th>
                            <!-- Knjigu izdao + dropdown filter for bibliotekar -->
                            <th
                              class="relative px-4 py-4 text-sm leading-4 tracking-wider text-left bibliotekariDrop-toggle"
                            >
                              Knjigu izdao
                            </th>
                            <th class="px-4 py-4"></th>
                          </tr>
                        </thead>
                        <tbody class="bg-white">
                          @for (borrow of borrows; track borrow.id) {
                            <tr
                              class="hover:bg-gray-200 hover:shadow-md border-b-[1px] border-[#e4dfdf]"
                            >
                              <td class="px-4 py-3 whitespace-no-wrap">
                                <label class="inline-flex items-center">
                                  <input
                                    type="checkbox"
                                    class="form-checkbox"
                                  />
                                </label>
                              </td>
                              <td class="flex flex-row items-center px-4 py-3">
                                <img
                                  class="object-cover w-8 mr-2 h-11"
                                  [src]="borrow.knjiga.photo"
                                  alt=""
                                />
                                <a [routerLink]="['books', borrow.knjiga.id]">
                                  <span class="font-medium text-center">{{
                                    borrow.knjiga.title
                                  }}</span>
                                </a>
                              </td>
                              <td
                                class="px-4 py-3 text-sm leading-5 whitespace-no-wrap"
                              >
                                {{ borrow.student.name }}
                                {{ borrow.student.surname }}
                              </td>
                              <td
                                class="px-4 py-3 text-sm leading-5 whitespace-no-wrap"
                              >
                                {{ borrow.borrow_date | customDate }}
                              </td>
                              <td
                                class="px-4 py-3 text-sm leading-5 whitespace-no-wrap"
                              >
                                <div>
                                  <span>{{
                                    borrow.borrow_date | timeKept
                                  }}</span>
                                </div>
                              </td>
                              <td
                                class="px-4 py-3 text-sm leading-5 whitespace-no-wrap"
                              >
                                {{ borrow.bibliotekar0.name }}
                                {{ borrow.bibliotekar0.surname }}
                              </td>
                              <td
                                class="px-6 py-3 text-sm leading-5 text-right whitespace-no-wrap"
                              >
                                <p
                                  class="inline cursor-pointer text-[20px] py-[10px] px-[30px] border-gray-300 dotsIzdateKnjige hover:text-[#606FC7]"
                                  (click)="toggleMenu(borrow.id)"
                                >
                                  <i class="fas fa-ellipsis-v"></i>
                                </p>
                                <div
                                  class="relative z-10 transition-all duration-300 origin-top-right transform scale-95 -translate-y-2 izdate-knjige z-50"
                                  [ngClass]="{
                                    hidden: openMenuId !== borrow.id,
                                  }"
                                >
                                  <div
                                    class="absolute right-0 w-56 mt-2 origin-top-right bg-white border border-gray-200 divide-y divide-gray-100 rounded-md shadow-lg outline-none"
                                    aria-labelledby="headlessui-menu-button-1"
                                    id="headlessui-menu-items-117"
                                    role="menu"
                                  >
                                    <div class="py-1">
                                      <a
                                        [routerLink]="[
                                          '/records/borrowed',
                                          borrow.id,
                                        ]"
                                        tabindex="0"
                                        class="flex w-full px-4 py-2 text-sm leading-5 text-left text-gray-700 outline-none hover:text-blue-600"
                                        role="menuitem"
                                      >
                                        <i
                                          class="far fa-file mr-[10px] ml-[5px] py-1"
                                        ></i>
                                        <span class="px-4 py-0"
                                          >Pogledaj detalje</span
                                        >
                                      </a>

                                      <button
                                        (click)="writeOff(borrow.id)"
                                        tabindex="0"
                                        class="flex w-full px-4 py-2 text-sm leading-5 text-left text-gray-700 outline-none hover:text-blue-600"
                                        role="menuitem"
                                      >
                                        <i
                                          class="fas fa-level-up-alt mr-[14px] ml-[5px] py-1"
                                        ></i>
                                        <span class="px-4 py-0"
                                          >Otpiši knjigu</span
                                        >
                                      </button>

                                      <button
                                        (click)="return(borrow.id)"
                                        tabindex="0"
                                        class="flex w-full px-4 py-2 text-sm leading-5 text-left text-gray-700 outline-none hover:text-blue-600"
                                        role="menuitem"
                                      >
                                        <i
                                          class="fas fa-redo-alt mr-[10px] ml-[5px] py-1"
                                        ></i>
                                        <span class="px-4 py-0"
                                          >Vrati knjigu</span
                                        >
                                      </button>
                                    </div>
                                  </div>
                                </div>
                              </td>
                            </tr>
                          }
                        </tbody>
                      </table>
                    } @else {
                      <h1 class="flex justify-center text-center">
                        Loading...
                      </h1>
                    }
                  </div>
                </div>
              </div>
            </div>
          </section>
        </mat-tab>
        <mat-tab label="Returns">
          <section class="w-screen h-screen pl-[80px] py-4 text-gray-700">
            <!-- Heading of content -->

            <!-- Space for content -->
            <div class="scroll height-dashboard">
              <div>
                <!-- Space for content -->
                <div class="flex justify-start pt-3 bg-white">
                  <div class="w-full mt-[10px] mr-3 px-2">
                    @if (!isLoading) {
                      <table
                        class="overflow-hidden shadow-lg rounded-xl w-full border-[1px] border-[#e4dfdf]"
                        id="myTable"
                      >
                        <thead class="bg-[#EFF3F6]">
                          <tr class="border-b-[1px] border-[#e4dfdf]">
                            <th
                              class="px-4 py-4 leading-4 tracking-wider text-left text-blue-500"
                            ></th>
                            <th
                              class="px-4 py-4 leading-4 tracking-wider text-left"
                            >
                              Naziv knjige
                            </th>
                            <!-- Izdato uceniku + dropdown filter for ucenik -->
                            <th
                              class="relative px-4 py-4 text-sm leading-4 tracking-wider text-left uceniciDrop-toggle"
                            >
                              Izdato učeniku
                            </th>

                            <!-- Datum izdavanja + dropdown filter for datum -->
                            <th
                              class="relative px-4 py-4 text-sm leading-4 tracking-wider text-left datumDrop-toggle"
                            >
                              Datum izdavanja
                            </th>

                            <!-- Trenutno zadrzavanje + dropdown filter for zadrzavanje -->
                            <th
                              class="relative px-4 py-4 text-sm leading-4 tracking-wider text-left zadrzavanjeDrop-toggle"
                            >
                              Trenutno zadržavanje knjige
                            </th>
                            <!-- Knjigu izdao + dropdown filter for bibliotekar -->
                            <th
                              class="relative px-4 py-4 text-sm leading-4 tracking-wider text-left bibliotekariDrop-toggle"
                            >
                              Knjigu izdao
                            </th>
                            <th class="px-4 py-4"></th>
                          </tr>
                        </thead>
                        <tbody class="bg-white">
                          @for (record of returns; track record.id) {
                            <tr
                              class="hover:bg-gray-200 hover:shadow-md border-b-[1px] border-[#e4dfdf]"
                            >
                              <td class="px-4 py-3 whitespace-no-wrap">
                                <label class="inline-flex items-center">
                                  <input
                                    type="checkbox"
                                    class="form-checkbox"
                                  />
                                </label>
                              </td>
                              <td class="flex flex-row items-center px-4 py-3">
                                <img
                                  class="object-cover w-8 mr-2 h-11"
                                  [src]="record.knjiga.photo"
                                  alt=""
                                />
                                <a [routerLink]="['/books', book.id]">
                                  <span class="font-medium text-center">{{
                                    record.knjiga.title
                                  }}</span>
                                </a>
                              </td>
                              <td
                                class="px-4 py-3 text-sm leading-5 whitespace-no-wrap"
                              >
                                {{ record.student.name }}
                                {{ record.student.surname }}
                              </td>
                              <td
                                class="px-4 py-3 text-sm leading-5 whitespace-no-wrap"
                              >
                                {{ record.borrow_date | customDate }}
                              </td>
                              <td
                                class="px-4 py-3 text-sm leading-5 whitespace-no-wrap"
                              >
                                <div>
                                  <span>{{
                                    record.borrow_date | timeKept
                                  }}</span>
                                </div>
                              </td>
                              <td
                                class="px-4 py-3 text-sm leading-5 whitespace-no-wrap"
                              >
                                {{ record.bibliotekar0.name }}
                                {{ record.bibliotekar0.surname }}
                              </td>
                              <td
                                class="px-6 py-3 text-sm leading-5 text-right whitespace-no-wrap"
                              >
                                <p
                                  class="inline cursor-pointer text-[20px] py-[10px] px-[30px] border-gray-300 dotsIzdateKnjige hover:text-[#606FC7]"
                                  (click)="toggleMenu(record.id)"
                                >
                                  <i class="fas fa-ellipsis-v"></i>
                                </p>
                                <div
                                  class="relative z-10 transition-all duration-300 origin-top-right transform scale-95 -translate-y-2 izdate-knjige z-50"
                                  [ngClass]="{
                                    hidden: openMenuId !== record.id,
                                  }"
                                >
                                  <div
                                    class="absolute right-0 w-56 mt-2 origin-top-right bg-white border border-gray-200 divide-y divide-gray-100 rounded-md shadow-lg outline-none"
                                    aria-labelledby="headlessui-menu-button-1"
                                    id="headlessui-menu-items-117"
                                    role="menu"
                                  >
                                    <div class="py-1">
                                      <a
                                        [routerLink]="[
                                          '/records/borrowed',
                                          record.id,
                                        ]"
                                        tabindex="0"
                                        class="flex w-full px-4 py-2 text-sm leading-5 text-left text-gray-700 outline-none hover:text-blue-600"
                                        role="menuitem"
                                      >
                                        <i
                                          class="far fa-file mr-[10px] ml-[5px] py-1"
                                        ></i>
                                        <span class="px-4 py-0"
                                          >Pogledaj detalje</span
                                        >
                                      </a>

                                      <button
                                        (click)="writeOff(record.id)"
                                        tabindex="0"
                                        class="flex w-full px-4 py-2 text-sm leading-5 text-left text-gray-700 outline-none hover:text-blue-600"
                                        role="menuitem"
                                      >
                                        <i
                                          class="fas fa-level-up-alt mr-[14px] ml-[5px] py-1"
                                        ></i>
                                        <span class="px-4 py-0"
                                          >Otpiši knjigu</span
                                        >
                                      </button>

                                      <button
                                        (click)="return(record.id)"
                                        tabindex="0"
                                        class="flex w-full px-4 py-2 text-sm leading-5 text-left text-gray-700 outline-none hover:text-blue-600"
                                        role="menuitem"
                                      >
                                        <i
                                          class="fas fa-redo-alt mr-[10px] ml-[5px] py-1"
                                        ></i>
                                        <span class="px-4 py-0"
                                          >Vrati knjigu</span
                                        >
                                      </button>
                                    </div>
                                  </div>
                                </div>
                              </td>
                            </tr>
                          }
                        </tbody>
                      </table>
                    } @else {
                      <h1 class="flex justify-center text-center">
                        Loading...
                      </h1>
                    }
                  </div>
                </div>
              </div>
            </div>
          </section>
        </mat-tab>
        <mat-tab label="Overdrafts">
          <section class="w-screen h-screen pl-[80px] py-4 text-gray-700">
            <!-- Heading of content -->

            <!-- Space for content -->
            <div class="scroll height-dashboard">
              <div>
                <!-- Space for content -->
                <div class="flex justify-start pt-3 bg-white">
                  <div class="w-full mt-[10px] mr-3 px-2">
                    @if (!isLoading) {
                      <table
                        class="overflow-hidden shadow-lg rounded-xl w-full border-[1px] border-[#e4dfdf]"
                        id="myTable"
                      >
                        <thead class="bg-[#EFF3F6]">
                          <tr class="border-b-[1px] border-[#e4dfdf]">
                            <th
                              class="px-4 py-4 leading-4 tracking-wider text-left text-blue-500"
                            ></th>
                            <th
                              class="px-4 py-4 leading-4 tracking-wider text-left"
                            >
                              Naziv knjige
                            </th>
                            <!-- Izdato uceniku + dropdown filter for ucenik -->
                            <th
                              class="relative px-4 py-4 text-sm leading-4 tracking-wider text-left uceniciDrop-toggle"
                            >
                              Izdato učeniku
                            </th>

                            <!-- Datum izdavanja + dropdown filter for datum -->
                            <th
                              class="relative px-4 py-4 text-sm leading-4 tracking-wider text-left datumDrop-toggle"
                            >
                              Datum izdavanja
                            </th>

                            <!-- Trenutno zadrzavanje + dropdown filter for zadrzavanje -->
                            <th
                              class="relative px-4 py-4 text-sm leading-4 tracking-wider text-left zadrzavanjeDrop-toggle"
                            >
                              Trenutno zadrzavanje knjige
                            </th>
                            <!-- Knjigu izdao + dropdown filter for bibliotekar -->
                            <th
                              class="relative px-4 py-4 text-sm leading-4 tracking-wider text-left bibliotekariDrop-toggle"
                            >
                              Knjigu izdao
                            </th>
                            <th class="px-4 py-4"></th>
                          </tr>
                        </thead>
                        <tbody class="bg-white">
                          @for (record of overdrafts; track record.id) {
                            <tr
                              class="hover:bg-gray-200 hover:shadow-md border-b-[1px] border-[#e4dfdf]"
                            >
                              <td class="px-4 py-3 whitespace-no-wrap">
                                <label class="inline-flex items-center">
                                  <input
                                    type="checkbox"
                                    class="form-checkbox"
                                  />
                                </label>
                              </td>
                              <td class="flex flex-row items-center px-4 py-3">
                                <img
                                  class="object-cover w-8 mr-2 h-11"
                                  [src]="record.knjiga.photo"
                                  alt=""
                                />
                                <a [routerLink]="['/books/', record.knjiga.id]">
                                  <span class="font-medium text-center">{{
                                    record.knjiga.title
                                  }}</span>
                                </a>
                              </td>
                              <td
                                class="px-4 py-3 text-sm leading-5 whitespace-no-wrap"
                              >
                                {{ record.student.name }}
                                {{ record.student.surname }}
                              </td>
                              <td
                                class="px-4 py-3 text-sm leading-5 whitespace-no-wrap"
                              >
                                {{ record.borrow_date | customDate }}
                              </td>
                              <td
                                class="px-4 py-3 text-sm leading-5 whitespace-no-wrap"
                              >
                                <div>
                                  <span>{{
                                    record.borrow_date | timeKept
                                  }}</span>
                                </div>
                              </td>
                              <td
                                class="px-4 py-3 text-sm leading-5 whitespace-no-wrap"
                              >
                                {{ record.bibliotekar0.name }}
                                {{ record.bibliotekar0.surname }}
                              </td>
                              <td
                                class="px-6 py-3 text-sm leading-5 text-right whitespace-no-wrap"
                              >
                                <p
                                  class="inline cursor-pointer text-[20px] py-[10px] px-[30px] border-gray-300 dotsIzdateKnjige hover:text-[#606FC7]"
                                  (click)="toggleMenu(record.id)"
                                >
                                  <i class="fas fa-ellipsis-v"></i>
                                </p>
                                <div
                                  class="relative z-10 transition-all duration-300 origin-top-right transform scale-95 -translate-y-2 izdate-knjige z-50"
                                  [ngClass]="{
                                    hidden: openMenuId !== record.id,
                                  }"
                                >
                                  <div
                                    class="absolute right-0 w-56 mt-2 origin-top-right bg-white border border-gray-200 divide-y divide-gray-100 rounded-md shadow-lg outline-none"
                                    aria-labelledby="headlessui-menu-button-1"
                                    id="headlessui-menu-items-117"
                                    role="menu"
                                  >
                                    <div class="py-1">
                                      <a
                                        [routerLink]="[
                                          '/records/borrowed',
                                          record.id,
                                        ]"
                                        tabindex="0"
                                        class="flex w-full px-4 py-2 text-sm leading-5 text-left text-gray-700 outline-none hover:text-blue-600"
                                        role="menuitem"
                                      >
                                        <i
                                          class="far fa-file mr-[10px] ml-[5px] py-1"
                                        ></i>
                                        <span class="px-4 py-0"
                                          >Pogledaj detalje</span
                                        >
                                      </a>

                                      <button
                                        (click)="writeOff(record.id)"
                                        tabindex="0"
                                        class="flex w-full px-4 py-2 text-sm leading-5 text-left text-gray-700 outline-none hover:text-blue-600"
                                        role="menuitem"
                                      >
                                        <i
                                          class="fas fa-level-up-alt mr-[14px] ml-[5px] py-1"
                                        ></i>
                                        <span class="px-4 py-0"
                                          >Otpiši knjigu</span
                                        >
                                      </button>

                                      <button
                                        (click)="return(record.id)"
                                        tabindex="0"
                                        class="flex w-full px-4 py-2 text-sm leading-5 text-left text-gray-700 outline-none hover:text-blue-600"
                                        role="menuitem"
                                      >
                                        <i
                                          class="fas fa-redo-alt mr-[10px] ml-[5px] py-1"
                                        ></i>
                                        <span class="px-4 py-0"
                                          >Vrati knjigu</span
                                        >
                                      </button>
                                    </div>
                                  </div>
                                </div>
                              </td>
                            </tr>
                          }
                        </tbody>
                      </table>
                    } @else {
                      <h1 class="flex justify-center text-center">
                        Loading...
                      </h1>
                    }
                  </div>
                </div>
              </div>
            </div>
          </section>
        </mat-tab>
        <mat-tab label="Active Reservations">
          <section class="w-screen h-screen pl-[80px] py-4 text-gray-700">
            <!-- Heading of content -->

            <!-- Space for content -->
            <div class="scroll height-dashboard">
              <div>
                <!-- Space for content -->
                <div class="flex justify-start pt-3 bg-white">
                  <div class="w-full mt-[10px] mr-3 px-2">
                    @if (!isLoading) {
                      <table
                        class="overflow-hidden shadow-lg rounded-xl w-full border-[1px] border-[#e4dfdf]"
                        id="myTable"
                      >
                        <thead class="bg-[#EFF3F6]">
                          <tr class="border-b-[1px] border-[#e4dfdf]">
                            <th
                              class="px-4 py-4 leading-4 tracking-wider text-left text-blue-500"
                            ></th>
                            <th
                              class="px-4 py-4 leading-4 tracking-wider text-left"
                            >
                              Naziv knjige
                            </th>
                            <!-- Izdato uceniku + dropdown filter for ucenik -->
                            <th
                              class="relative px-4 py-4 text-sm leading-4 tracking-wider text-left uceniciDrop-toggle"
                            >
                              Izdato uceniku
                            </th>

                            <!-- Datum izdavanja + dropdown filter for datum -->
                            <th
                              class="relative px-4 py-4 text-sm leading-4 tracking-wider text-left datumDrop-toggle"
                            >
                              Datum izdavanja
                            </th>

                            <!-- Trenutno zadrzavanje + dropdown filter for zadrzavanje -->
                            <th
                              class="relative px-4 py-4 text-sm leading-4 tracking-wider text-left zadrzavanjeDrop-toggle"
                            >
                              Trenutno zadržavanje knjige
                            </th>
                            <!-- Knjigu izdao + dropdown filter for bibliotekar -->
                            <th
                              class="relative px-4 py-4 text-sm leading-4 tracking-wider text-left bibliotekariDrop-toggle"
                            >
                              Knjigu izdao
                            </th>
                            <th class="px-4 py-4"></th>
                          </tr>
                        </thead>
                        <tbody class="bg-white">
                          @for (record of activeReservations; track record.id) {
                            <tr
                              class="hover:bg-gray-200 hover:shadow-md border-b-[1px] border-[#e4dfdf]"
                            >
                              <td class="px-4 py-3 whitespace-no-wrap">
                                <label class="inline-flex items-center">
                                  <input
                                    type="checkbox"
                                    class="form-checkbox"
                                  />
                                </label>
                              </td>
                              <td class="flex flex-row items-center px-4 py-3">
                                <img
                                  class="object-cover w-8 mr-2 h-11"
                                  [src]="record.knjiga.photo"
                                  alt=""
                                />
                                <a [routerLink]="['/books/', record.knjiga.id]">
                                  <span class="font-medium text-center">{{
                                    record.knjiga.title
                                  }}</span>
                                </a>
                              </td>
                              <td
                                class="px-4 py-3 text-sm leading-5 whitespace-no-wrap"
                              >
                                {{ record.student.name }}
                                {{ record.student.surname }}
                              </td>
                              <td
                                class="px-4 py-3 text-sm leading-5 whitespace-no-wrap"
                              >
                                {{ record.borrow_date | customDate }}
                              </td>
                              <td
                                class="px-4 py-3 text-sm leading-5 whitespace-no-wrap"
                              >
                                <div>
                                  <span>{{
                                    record.borrow_date | timeKept
                                  }}</span>
                                </div>
                              </td>
                              <td
                                class="px-4 py-3 text-sm leading-5 whitespace-no-wrap"
                              >
                                {{ record.bibliotekar0.name }}
                                {{ record.bibliotekar0.surname }}
                              </td>
                              <td
                                class="px-6 py-3 text-sm leading-5 text-right whitespace-no-wrap"
                              >
                                <p
                                  class="inline cursor-pointer text-[20px] py-[10px] px-[30px] border-gray-300 dotsIzdateKnjige hover:text-[#606FC7]"
                                  (click)="toggleMenu(record.id)"
                                >
                                  <i class="fas fa-ellipsis-v"></i>
                                </p>
                                <div
                                  class="relative z-10 transition-all duration-300 origin-top-right transform scale-95 -translate-y-2 izdate-knjige z-50"
                                  [ngClass]="{
                                    hidden: openMenuId !== record.id,
                                  }"
                                >
                                  <div
                                    class="absolute right-0 w-56 mt-2 origin-top-right bg-white border border-gray-200 divide-y divide-gray-100 rounded-md shadow-lg outline-none"
                                    aria-labelledby="headlessui-menu-button-1"
                                    id="headlessui-menu-items-117"
                                    role="menu"
                                  >
                                    <div class="py-1">
                                      <a
                                        [routerLink]="[
                                          '/records/borrowed',
                                          record.id,
                                        ]"
                                        tabindex="0"
                                        class="flex w-full px-4 py-2 text-sm leading-5 text-left text-gray-700 outline-none hover:text-blue-600"
                                        role="menuitem"
                                      >
                                        <i
                                          class="far fa-file mr-[10px] ml-[5px] py-1"
                                        ></i>
                                        <span class="px-4 py-0"
                                          >Pogledaj detalje</span
                                        >
                                      </a>

                                      <button
                                        (click)="writeOff(record.id)"
                                        tabindex="0"
                                        class="flex w-full px-4 py-2 text-sm leading-5 text-left text-gray-700 outline-none hover:text-blue-600"
                                        role="menuitem"
                                      >
                                        <i
                                          class="fas fa-level-up-alt mr-[14px] ml-[5px] py-1"
                                        ></i>
                                        <span class="px-4 py-0"
                                          >Otpisi knjigu</span
                                        >
                                      </button>

                                      <button
                                        (click)="return(record.id)"
                                        tabindex="0"
                                        class="flex w-full px-4 py-2 text-sm leading-5 text-left text-gray-700 outline-none hover:text-blue-600"
                                        role="menuitem"
                                      >
                                        <i
                                          class="fas fa-redo-alt mr-[10px] ml-[5px] py-1"
                                        ></i>
                                        <span class="px-4 py-0"
                                          >Vrati knjigu</span
                                        >
                                      </button>
                                    </div>
                                  </div>
                                </div>
                              </td>
                            </tr>
                          }
                        </tbody>
                      </table>
                    } @else {
                      <h1 class="flex justify-center text-center">
                        Loading...
                      </h1>
                    }
                  </div>
                </div>
              </div>
            </div>
          </section>
        </mat-tab>
        <mat-tab label="Archived Reservations">
          <section class="w-screen h-screen pl-[80px] py-4 text-gray-700">
            <!-- Heading of content -->

            <!-- Space for content -->
            <div class="scroll height-dashboard">
              <div>
                <!-- Space for content -->
                <div class="flex justify-start pt-3 bg-white">
                  <div class="w-full mt-[10px] mr-3 px-2">
                    @if (!isLoading) {
                      <table
                        class="overflow-hidden shadow-lg rounded-xl w-full border-[1px] border-[#e4dfdf]"
                        id="myTable"
                      >
                        <thead class="bg-[#EFF3F6]">
                          <tr class="border-b-[1px] border-[#e4dfdf]">
                            <th
                              class="px-4 py-4 leading-4 tracking-wider text-left text-blue-500"
                            ></th>
                            <th
                              class="px-4 py-4 leading-4 tracking-wider text-left"
                            >
                              Naziv knjige
                            </th>
                            <!-- Izdato uceniku + dropdown filter for ucenik -->
                            <th
                              class="relative px-4 py-4 text-sm leading-4 tracking-wider text-left uceniciDrop-toggle"
                            >
                              Izdato uceniku
                            </th>

                            <!-- Datum izdavanja + dropdown filter for datum -->
                            <th
                              class="relative px-4 py-4 text-sm leading-4 tracking-wider text-left datumDrop-toggle"
                            >
                              Datum izdavanja
                            </th>

                            <!-- Trenutno zadrzavanje + dropdown filter for zadrzavanje -->
                            <th
                              class="relative px-4 py-4 text-sm leading-4 tracking-wider text-left zadrzavanjeDrop-toggle"
                            >
                              Trenutno zadržavanje knjige
                            </th>
                            <!-- Knjigu izdao + dropdown filter for bibliotekar -->
                            <th
                              class="relative px-4 py-4 text-sm leading-4 tracking-wider text-left bibliotekariDrop-toggle"
                            >
                              Knjigu izdao
                            </th>
                            <th class="px-4 py-4"></th>
                          </tr>
                        </thead>
                        <tbody class="bg-white">
                          @for (
                            record of archivedReservations;
                            track record.id
                          ) {
                            <tr
                              class="hover:bg-gray-200 hover:shadow-md border-b-[1px] border-[#e4dfdf]"
                            >
                              <td class="px-4 py-3 whitespace-no-wrap">
                                <label class="inline-flex items-center">
                                  <input
                                    type="checkbox"
                                    class="form-checkbox"
                                  />
                                </label>
                              </td>
                              <td class="flex flex-row items-center px-4 py-3">
                                <img
                                  class="object-cover w-8 mr-2 h-11"
                                  [src]="record.knjiga.photo"
                                  alt=""
                                />
                                <a [routerLink]="['/books/', record.knjiga.id]">
                                  <span class="font-medium text-center">{{
                                    record.knjiga.title
                                  }}</span>
                                </a>
                              </td>
                              <td
                                class="px-4 py-3 text-sm leading-5 whitespace-no-wrap"
                              >
                                {{ record.student.name }}
                                {{ record.student.surname }}
                              </td>
                              <td
                                class="px-4 py-3 text-sm leading-5 whitespace-no-wrap"
                              >
                                {{ record.borrow_date | customDate }}
                              </td>
                              <td
                                class="px-4 py-3 text-sm leading-5 whitespace-no-wrap"
                              >
                                <div>
                                  <span>{{
                                    record.borrow_date | timeKept
                                  }}</span>
                                </div>
                              </td>
                              <td
                                class="px-4 py-3 text-sm leading-5 whitespace-no-wrap"
                              >
                                {{ record.bibliotekar0.name }}
                                {{ record.bibliotekar0.surname }}
                              </td>
                              <td
                                class="px-6 py-3 text-sm leading-5 text-right whitespace-no-wrap"
                              >
                                <p
                                  class="inline cursor-pointer text-[20px] py-[10px] px-[30px] border-gray-300 dotsIzdateKnjige hover:text-[#606FC7]"
                                  (click)="toggleMenu(record.id)"
                                >
                                  <i class="fas fa-ellipsis-v"></i>
                                </p>
                                <div
                                  class="relative z-10 transition-all duration-300 origin-top-right transform scale-95 -translate-y-2 izdate-knjige z-50"
                                  [ngClass]="{
                                    hidden: openMenuId !== record.id,
                                  }"
                                >
                                  <div
                                    class="absolute right-0 w-56 mt-2 origin-top-right bg-white border border-gray-200 divide-y divide-gray-100 rounded-md shadow-lg outline-none"
                                    aria-labelledby="headlessui-menu-button-1"
                                    id="headlessui-menu-items-117"
                                    role="menu"
                                  >
                                    <div class="py-1">
                                      <a
                                        [routerLink]="[
                                          '/records/borrowed',
                                          record.id,
                                        ]"
                                        tabindex="0"
                                        class="flex w-full px-4 py-2 text-sm leading-5 text-left text-gray-700 outline-none hover:text-blue-600"
                                        role="menuitem"
                                      >
                                        <i
                                          class="far fa-file mr-[10px] ml-[5px] py-1"
                                        ></i>
                                        <span class="px-4 py-0"
                                          >Pogledaj detalje</span
                                        >
                                      </a>

                                      <button
                                        (click)="writeOff(record.id)"
                                        tabindex="0"
                                        class="flex w-full px-4 py-2 text-sm leading-5 text-left text-gray-700 outline-none hover:text-blue-600"
                                        role="menuitem"
                                      >
                                        <i
                                          class="fas fa-level-up-alt mr-[14px] ml-[5px] py-1"
                                        ></i>
                                        <span class="px-4 py-0"
                                          >Otpisi knjigu</span
                                        >
                                      </button>

                                      <button
                                        (click)="return(record.id)"
                                        tabindex="0"
                                        class="flex w-full px-4 py-2 text-sm leading-5 text-left text-gray-700 outline-none hover:text-blue-600"
                                        role="menuitem"
                                      >
                                        <i
                                          class="fas fa-redo-alt mr-[10px] ml-[5px] py-1"
                                        ></i>
                                        <span class="px-4 py-0"
                                          >Vrati knjigu</span
                                        >
                                      </button>
                                    </div>
                                  </div>
                                </div>
                              </td>
                            </tr>
                          }
                        </tbody>
                      </table>
                    } @else {
                      <h1 class="flex justify-center text-center">
                        Loading...
                      </h1>
                    }
                  </div>
                </div>
              </div>
            </div>
          </section>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>
  </mat-tab-group>
</section>
