<nav
  id="sidebar"
  class="fixed z-10 flex flex-col justify-between overflow-x-hidden overflow-y-auto bg-[#EFF3F6] sidebar nav-height pr-[20px]"
  [ngClass]="{ 'sidebar-active': isExpanded }"
>
  <div>
    <!-- Hamburger Icon -->
    <div
      class="cursor-pointer text-[#707070] pt-[28px] pb-[27px] text-[25px] border-b-[1px] border-[#e4dfdf] pl-[30px]"
      (click)="expandSidebar()"
    >
      <i id="hamburger" class="hamburger-btn fas fa-bars"></i>
    </div>
    <div class="mt-[30px]">
      <ul class="text-[#2D3B48] sidebar-nav">
        <!-- Dashboard Icon -->
        <li class="group hover:bg-[#EAEAEA] pl-[30px]">
          <a
            routerLinkActive="text-[#576cdf]"
            [routerLink]="['/dashboard']"
            aria-label="Dashboard"
            class="flex items-center py-[18px] px-[25px] w-full"
          >
            <i
              class="text-[25px] text-[#707070] fas fa-tachometer-alt transition duration-300 ease-in group-hover:text-[#576cdf]"
              routerLinkActive="text-[#576cdf]"
            ></i>
            <span
              class="ml-[20px] text-[15px] whitespace-nowrap transition-all duration-300 ease-in"
              [ngClass]="{
                'opacity-0 w-0': !isExpanded,
                'opacity-100 w-auto': isExpanded,
              }"
            >
              Dashboard
            </span>
          </a>
        </li>

        <!-- Bibliotekari Icon -->
        <li *ngIf="isAdmin" class="group hover:bg-[#EAEAEA] pl-[30px]">
          <a
            routerLinkActive="text-[#576cdf]"
            [routerLink]="['/librarians']"
            aria-label="Bibliotekari"
            class="flex items-center py-[18px] px-[25px]"
          >
            <i
              class="text-[25px] text-[#707070] far fa-address-book transition duration-300 ease-in group-hover:text-[#576cdf]"
              routerLinkActive="text-[#576cdf]"
            ></i>
            <span
              class="ml-[20px] text-[15px] whitespace-nowrap transition-all duration-300 ease-in"
              [ngClass]="{
                'opacity-0 w-0': !isExpanded,
                'opacity-100 w-auto': isExpanded,
              }"
            >
              Bibliotekari
            </span>
          </a>
        </li>

        <!-- Učenici Icon -->
        <li class="group hover:bg-[#EAEAEA] pl-[30px]">
          <a
            routerLinkActive="text-[#576cdf]"
            [routerLink]="['/students']"
            aria-label="Učenici"
            class="flex items-center py-[18px] px-[25px]"
          >
            <i
              class="text-[18px] text-[#707070] fas fa-users transition duration-300 ease-in group-hover:text-[#576cdf]"
              routerLinkActive="text-[#576cdf]"
            ></i>
            <span
              class="ml-[20px] text-[15px] whitespace-nowrap transition-all duration-300 ease-in"
              [ngClass]="{
                'opacity-0 w-0': !isExpanded,
                'opacity-100 w-auto': isExpanded,
              }"
            >
              Učenici
            </span>
          </a>
        </li>

        <!-- Knjige Icon -->
        <li class="group hover:bg-[#EAEAEA] pl-[30px]">
          <a
            routerLinkActive="text-[#576cdf]"
            [routerLink]="['/books']"
            aria-label="Knjige"
            class="flex items-center py-[18px] px-[25px]"
          >
            <i
              class="text-[25px] text-[#707070] fas fa-book transition duration-300 ease-in group-hover:text-[#576cdf]"
              routerLinkActive="text-[#576cdf]"
            ></i>
            <span
              class="ml-[20px] text-[15px] whitespace-nowrap transition-all duration-300 ease-in"
              [ngClass]="{
                'opacity-0 w-0': !isExpanded,
                'opacity-100 w-auto': isExpanded,
              }"
            >
              Knjige
            </span>
          </a>
        </li>

        <!-- Autori Icon -->
        <li class="group hover:bg-[#EAEAEA] pl-[30px]">
          <a
            routerLinkActive="text-[#576cdf]"
            [routerLink]="['/authors']"
            aria-label="Autori"
            class="flex items-center py-[18px] px-[25px]"
          >
            <i
              class="text-[25px] text-[#707070] fas fa-user-graduate transition duration-300 ease-in group-hover:text-[#576cdf]"
              routerLinkActive="text-[#576cdf]"
            ></i>
            <span
              class="ml-[20px] text-[15px] whitespace-nowrap transition-all duration-300 ease-in"
              [ngClass]="{
                'opacity-0 w-0': !isExpanded,
                'opacity-100 w-auto': isExpanded,
              }"
            >
              Autori
            </span>
          </a>
        </li>

        <!-- Izdavanje Icon -->
        <li class="group hover:bg-[#EAEAEA] pl-[30px]">
          <a
            routerLinkActive="text-[#576cdf]"
            [routerLink]="['/records/issued']"
            aria-label="Izdavanje"
            class="flex items-center py-[18px] px-[25px]"
          >
            <i
              class="text-[22px] text-[#707070] fas fa-exchange-alt transition duration-300 ease-in group-hover:text-[#576cdf]"
              routerLinkActive="text-[#576cdf]"
            ></i>
            <span
              class="ml-[20px] text-[15px] whitespace-nowrap transition-all duration-300 ease-in"
              [ngClass]="{
                'opacity-0 w-0': !isExpanded,
                'opacity-100 w-auto': isExpanded,
              }"
            >
              Izdavanje knjiga
            </span>
          </a>
        </li>

        <!-- Admin Icon -->
        <li *ngIf="isAdmin" class="group hover:bg-[#EAEAEA] pl-[30px]">
          <a
            routerLinkActive="text-[#576cdf]"
            [routerLink]="['/admins']"
            aria-label="Admin"
            class="flex items-center py-[18px] px-[25px]"
          >
            <i
              class="text-[22px] text-[#707070] fas fa-user-shield transition duration-300 ease-in group-hover:text-[#576cdf]"
              routerLinkActive="text-[#576cdf]"
            ></i>
            <span
              class="ml-[20px] text-[15px] whitespace-nowrap transition-all duration-300 ease-in"
              [ngClass]="{
                'opacity-0 w-0': !isExpanded,
                'opacity-100 w-auto': isExpanded,
              }"
            >
              Administratori
            </span>
          </a>
        </li>

        <li>
          <hr
            class="border-t border-[#e4dfdf]"
            [ngClass]="{ hidden: !isExpanded }"
          />
        </li>

        <!-- Documentation Icon -->
        <li class="group hover:bg-[#EAEAEA] pl-[30px]">
          <a
            routerLinkActive="text-[#576cdf]"
            href=""
            aria-label="Dokumentacija"
            target="_blank"
            class="flex items-center py-[18px] px-[25px]"
          >
            <i
              class="text-[22px] text-[#707070] fas fa-book transition duration-300 ease-in group-hover:text-[#576cdf]"
              routerLinkActive="text-[#576cdf]"
            ></i>
            <span
              class="ml-[20px] text-[15px] whitespace-nowrap transition-all duration-300 ease-in"
              [ngClass]="{
                'opacity-0 w-0': !isExpanded,
                'opacity-100 w-auto': isExpanded,
              }"
            >
              Dokumentacija
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
